<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main page Login</title>

    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/login.css">

    <!--jquey Mobile CDN -->
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

    <div data-role="page" id="login">
        <div class="form">
            <ul class = "tab-group">
                <li class="tab active"><a href="#signin">로그인</a></li>
                <li class="tab"><a href="#signup">회원가입</a></li>
            </ul>

            <div class="tab-content">
                <div id="signin">
                    <h1>로그인 하세요</h1>
                    <form action="#" method="get" id="login_form">
                        <div class="field-wrap">
                            <label>ID</label>
                            <input type="text" id="login_id">
                        </div>

                        <div class="field-wrap">
                            <label>Password</label>
                            <input type="text" id="login_passwd">
                        </div>
                        <button type="submit" class="button button-block"/>로그인</button>
                    </form>
                </div><!-- signin -->

                <div id="signup">
                    <h1>무료로 가입하세요</h1>
                    <form action="#" method="get" id="join_form">
                        <div class="field-wrap">
                            <label>이름</label>
                            <input type="text" id="name">
                        </div>

                        <div class="field-wrap">
                            <label>이메일</label>
                            <input type="email" id="email">
                        </div>

                        <div class="field-wrap">
                            <label>비밀번호</label>
                            <input type="password" id="join_passwd">
                        </div>
                        <button type="submit" class="button button-block"/>가입하기</button>
                    </form>
                </div><!-- signup -->
            </div> <!-- tab-content -->
        </div><!-- data-role main -->
    </div>

<script src="javascripts/index.js"></script>
</body>
</html>