doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Main page Login
    link(href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='stylesheets/login.css')
    // jquey Mobile CDN
    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css')
    script(src='http://code.jquery.com/jquery-1.11.1.min.js')
    script(src='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js')
  body
    #login(data-role='page')
      .form
        ul.tab-group
          li.tab.active
            a(href='#signin') 로그인
          li.tab
            a(href='#signup') 회원가입
        .tab-content
          #signin
            h1 로그인 하세요
            form#login_form(action='#', method='get')
              .field-wrap
                label ID
                input#login_id(type='text')
              .field-wrap
                label Password
                input#login_passwd(type='text')
              button.button.button-block(type='submit') 로그인
          // signin
          #signup
            h1 무료로 가입하세요
            form#join_form(action='#', method='get')
              .field-wrap
                label 이름
                input#name(type='text')
              .field-wrap
                label 이메일
                input#email(type='email')
              .field-wrap
                label 비밀번호
                input#join_passwd(type='password')
              button.button.button-block(type='submit') 가입하기
          // signup
        // tab-content
      // data-role main
    script(src='javascripts/index.js')

