<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>question</title>
</head>
<body>
    <div data-role="page">
        <div id="question_header" data-role="header" data-position="fixed">
            <h1>Title</h1>
            <a href="#" data-rel="back">목록으로가기</a>
            <a id="like" data-icon='heart'>좋아요</a>
        </div>
        <div id="content" data-role="content">
        <!-- 
            <h1>제목</h1>
            <p>내용</p>
            <ul id='commentList' data-role="listview">
             <li id=1>
                  <a href="">
                      작성자: 내용
                    </a>
                    <a href="" data-icon="delete"></a>
                </li>
            </ul>
        -->
        </div>
        <div id="question_footer" data-role="footer" data-position="fixed">
            <a id="bComment" data-role="button" href="#" data-icon="check" data-iconpos="top"
            onclick="comment()">댓글달기</a>
            <fieldset class='ui-grid-a'>
                <div class="ui-block-a">
                    <a id="bSubmit" data-icon="check" data-iconpos="top" data-role='button'
                    onclick="submitComment()">제출</a>
                </div>
                <div class="ui-block-b">
                    <a id="bCancel" data-icon="delete" data-iconpos="top" data-role='button'
                    onclick="closeComment()">취소</a>    
                </div>
            </fieldset>
            <form>
                <div class="ui-field-contain">
                    <textarea class="textEditor" id="content"></textarea>
                </div>
            </form>
        </div>
    </div>
</body>
</html>