.ui-icon-myIcon:after {
    background-image: url("../images/icons/ic_help_white_18dp_2x.png");
}
#lecture_footer #bAsk {
    width: 100%;
}

#lecture_footer #bSubmit {
	width: 44%;
	display: none;
}

#lecture_footer #bCancel {
	width: 44%;
	display: none;
}

#lecture_footer {
    text-align: center;
}

#lecture_footer form {
    display: none;
    text-align: left;
}