/*
    To show multi-lined listview text.
*/
ul li a {
    white-space: normal !important;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#bComment {
    width: 100%;
}

#question_footer form {
    display: none;
    text-align: left;
}

#question_footer {
    text-align: center;
}