/*
    To show multi-lined listview text.
*/
ul li a {
    white-space: normal !important;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#commentbutton {
    width: 100%;
}
#cform {
    display: none;
}
#footer {
    text-align: center;
}
#footer form {
    text-align: left;
}